* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;

}

body {
    display: flex;
    flex-direction: column;
    
}

.title-container {
    padding: 50px 0 0 50px;
    width: 100%;
    margin: 0;
    line-height: 2;
    background-image: url(computer.gif);
    background-repeat: no-repeat;
    background-position: 700px;
    background-size: 600px;
    background-color: rgba(10,24,23,255);
    color: white;
}


.title-container h1 {
    text-shadow: 5px 5px 5px rgba(37,107,118,255);
    
}

.menu-tab {
    padding: 20px 20px 0 0;
    
}

.tab-button {
    margin-right: 10px;
}

.content {
    text-align: justify;
    line-height: 2;  
}

.content-box {
   
    padding: 50px 0 0 50px;
    width: 60%;
}

.content-box .content {
    display: none;
}

.content-box .content.active {
    display: block;
}

.tab-button {
    width: 100px;
    height: 30px;
    white-space: nowrap;
    background-color: rgba(37,107,118,255);
    border: none;
    color: white;
}

.tab-button.active {
    background-color: white;
    color: black;
}


